.board{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80vh;
    height: 80vh;
}
  
#whitePlayer{
    position: absolute;
    height: 2.5vh;
    right: 0%;
    bottom: 5vh;
    padding-right: 5vh;
    display: flex;
    font-size: 2.5vh;
    line-height: 2.5vh;
}

#blackPlayer{
    position: absolute;
    height: 2.5vh;
    right: 0%;
    top: 5vh;
    padding-right: 5vh;
    display: flex;
    font-size: 2.5vh;
    line-height: 2.5vh;
}

#blackIcon{
    height: 100%;
    aspect-ratio: 1 / 1;
    clip-path: polygon(22% 20%, 78% 20%, 50% 82%);
    background-color: #d90511;
    margin-right: 1vh;
}

#whiteIcon{
    height: 100%;
    aspect-ratio: 1 / 1;
    clip-path: polygon(50% 12%, 78% 50%, 50% 88%, 22% 50%);
    background-color: #63E7FE;
    margin-right: 1vh;
}

.board-row{
    width: 100%;
    height: 12.5%;
    display: flex;
}
  
.whiteSquare{
    background-color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 100%;   
}

.blackSquare{
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 100%;
}

.selectedSquare{
    background-color: #c8ad00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 100%;
}

.blackPiece{
    width: 100%;
    height: 100%;
    clip-path: polygon(22% 20%, 78% 20%, 50% 82%);
    background-color: #d90511;
}

.whitePiece{
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 12%, 78% 50%, 50% 88%, 22% 50%);
    background-color: #63E7FE;
}

.noPiece{
    width: 100%;
    height: 100%;
}