.board{
    width: 70vh;
    height: 70vh;
}
  
.board-row{
    width: 100%;
    height: 12.5%;
    display: flex;
}
  
.whiteSquare{
    background-color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 100%;   
}

.blackSquare{
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 100%;
}

.selectedSquare{
    background-color: #c8ad00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 100%;
}

.blackPiece{
    width: 100%;
    height: 100%;
    clip-path: polygon(22% 20%, 78% 20%, 50% 82%);
    background-color: #d90511;
}

.whitePiece{
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 12%, 78% 50%, 50% 88%, 22% 50%);
    background-color: #63E7FE;
}

.noPiece{
    width: 100%;
    height: 100%;
}