@font-face{
    font-family: imbPlex;
    src: url(../assets/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}
* {
    font-family: imbPlex;
    color:#999999;
    text-transform: uppercase;
}

html, 
body {
    min-height: 100%;
    margin: 0%;
}

body{
    height: 100%;
    background-color:  #111111;
    
}

#title{
    text-align: center;
    font-size: 5vh;
}
.board-container{
    position: relative;
    width: 100%;
    height: 70vh;
}