@font-face{
    font-family: imbPlex;
    src: url(../assets/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}
* {
    font-family: imbPlex;
    color:#999999;
    text-transform: uppercase;
}

body{
    background-color:  #111111;
    margin: 0%;
}

#title{
    text-align: center;
    font-size: 5vh;
}
.board-container{
    display: flex;
    justify-content: center;
    width: 100%;
}