.board{
    width: 70vh;
    height: 70vh;
}
  
.board-row{
    width: 100%;
    height: 12.5%;
    display: flex;
}
  
.whiteSquare{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 100%;   
}

.blackSquare{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    height: 100%;
}

.blackPiece{
    width: 70%;
    height: 70%;
    clip-path: polygon(10% 10%, 90% 10%, 50% 100%);
    background-color: #d90511;
}

.whitePiece{
    width: 70%;
    height: 70%;
    clip-path: polygon(50% 0%, 90% 50%, 50% 100%, 10% 50%);
    background-color: #63E7FE;
}

